@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter_18pt-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter_18pt-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter_18pt-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Italic.ttf");
    font-style: italic;
}